.header_saving {
  padding-top: 6rem;
}

.banner {
  background-color: var(--header-item-selected);
  height: 6rem;
  border-radius: 0.4rem;
  padding: 1rem;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.banner h3 {
  color: var(--white-main);
  font-weight: 400;
  width: 70rem;
}

.banner img {
  height: 30rem;
  margin-top: -10rem;
}

.body_saving {
  background-color: var(--white-total);
  margin-top: 2rem;
  padding: 4rem;
  border-radius: 1rem;
  height: 66vh;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head button {
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--blue-main);
  color: var(--white-main);
}

.card_saving {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  width: 30rem;
  border-bottom: 8px solid var(--blue-main);
  border-radius: 1rem;
}

.headCard {
  padding: 1rem;
  background-color: var(--white-main);
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 1rem 0;
  background-color: #d4d4d4;
}
.line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #8b8b8b;
  padding: 0 15px;
}

.bodyCard {
  padding: 1rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bodyCard span{
    font-size: 1.2rem;
}

.buttonCard {
  background-color: var(--white-main);
}

.buttonCard button {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
}

.buttonCard button i {
  font-size: 2rem;
}
